<!-- About Section -->
<section class="short-summary section-front" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center title">
                <h2>Short summary about me</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large"><strong>Senior Software Developer</strong> with a PhD in Computer Engineering at Lisbon Tech (IST).</p>
                <p class="large">
                Love coding and all geeky things. 
                </p>
                
                <p class="large">
                Currently very interested in <i>containers</i>, <i>funtional programming</i> and <i>machine learning</i>.
                </p>
                <p class="large">
                As a Free Software aficionado I've done some contributions to several open-source projects.
                </p>
                <p class="large">
                For more information feel free to check my <a href="/TrindadeJoaoCV.pdf">Curriculum Vitae</a>.
                </p>
            </div>
        </div>
    </div>
</section>
