<!-- About Section -->
<section class="short-summary section-front" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center title">
                <h2>Short summary about me</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large"><strong>Senior Software Developer</strong> with a PhD in Computer Engineering at Lisbon Tech (IST).</p>
                <p class="large">
                Love's coding and all geeky things. Has several contributions to open-source projects.
                </p>
                <p class="large">
                Currently very interested in <i>containers</i>/<i>kubernetes</i>, <i>funtional programming</i> (lisp and
                specially clojure) and <i>machine learning</i> (more on the theorical side).
                </p>
                <p class="large">
                For more information feel free to check the <a href="/TrindadeJoaoCV.pdf">Curriculum Vitae</a>.
                </p>
            </div>
        </div>
    </div>
</section>
