<!-- Contact Section -->
<section id="contact" class="section-front">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center title">
                <h2>Contact</h2>
                <!-- <hr class="star-primary"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p class="large">Email:</p>
                <div class="text-info">
                    <p>trindade.joao (at) gmail.com</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <p class="large">Phone: </p>
                <div class="text-info">
                  <p>(+351) 935 613 910</p>
                </div>
            </div>
        </div>
    </div>
</section>
