<!-- Contact Section -->
<section id="contact" class="section-front">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center title">
                <h2>Contact Me</h2>
                <!-- <hr class="star-primary"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p>The easier way to contact me is via email:</p>
                <div class="text-info">
                    <p>trindade.joao (at) gmail.com</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <p>For a more synchronous communication you can call me at: </p>
                <div class="text-info">
                    <dl class="dl-horizontal">
                        <dt><strong> Mobile phone</strong>: </dt>
                        <dd>(+351) 935 613 910</dd>
                        <dt><strong> Skype contact</strong>: </dt>
                        <dd>trindade.joao</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
