    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <div class="teste">
                    <img class="img-responsive" src="img/profile.png" alt="avatar">
                    <div class="intro-text">
                        <span class="name">{{ site.author }}</span>
                        <!-- <hr class="star-light"> -->
                        <span class="skills">Software developer, Geek, PhD in Computer Engineering</span>
                    </div>
										<a href="https://github.com/joninvski" class="btn-social btn-outline"><i class="fab fa-fw fa-github"></i></a>
										<a href="https://www.goodreads.com/user/show/13893937-joao-trindade" class="btn-social btn-outline"><i class="fab fa-fw fa-goodreads"></i></a>
										<!-- <a href="https://twitter.com/joaotrindade" class="btn-social btn-outline"><i class="fab fa-fw fa-twitter"></i></a> -->
										<a href="https://pt.linkedin.com/in/trindadejoao" class="btn-social btn-outline"><i class="fab fa-fw fa-linkedin"></i></a>
										<a href="https://www.flickr.com/photos/joao_trindade" class="btn-social btn-outline"><i class="fab fa-fw fa-flickr"></i></a>
                </div>
            </div>
        </div>
    </header>
