<header class="hero">
    <img class="avatar" src="img/profile.png" alt="João Trindade avatar">
    <div class="hero-wave">👋</div>
    <h1>Hi, I'm <span class="highlight">{{ site.author }}</span><br>I build things and have fun doing it.</h1>
    <p class="tagline">
        Software developer, PhD in Computer Engineering, and certified geek.
        Currently happily lost somewhere between containers, Clojure and machine learning.
    </p>
    <div class="social-row">
        <a href="https://github.com/joninvski" class="social-pill"><i class="fab fa-github"></i> GitHub</a>
        <a href="https://pt.linkedin.com/in/trindadejoao" class="social-pill"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://www.goodreads.com/user/show/13893937-joao-trindade" class="social-pill"><i class="fab fa-goodreads"></i> Goodreads</a>
        <a href="https://www.flickr.com/photos/joao_trindade/albums/72157623442028658" class="social-pill"><i class="fas fa-camera"></i> Flickr</a>
        <a href="/blog" class="social-pill btn-primary"><i class="fas fa-pen-nib"></i> Read the blog</a>
    </div>
</header>
