/* My changes
-------------------------------------------------- */

body {
    padding-top: 100px;
}

.container .jumbotron {
    background-color: rgb(255, 255, 255);
}

.contacts a {
    color: rgb(65, 65, 65);
}

// Next lines are for the footer
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    text-align: center;
    border-top:1px solid #d1d1d1;
    background-color: white;
}
// END FOOTER
